# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# venv
venv/
env/
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Django / DRF (если используешь)
*.sqlite3
media/
staticfiles/
